# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules

# idea project folder
.idea

# ORM config file
config/orm.json

# builded client code
static/bundle.js

